<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>videochat app</title>
        <link rel="stylesheet" href="style.css" />
            <script src="/socket.io/socket.io.js"></script>

    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>

    
</head>
<body>
     <div class="header">
      <div class="logo">
        <div class="header_back">
          <i class="fas fa-angle-left"></i>
        </div>
        <h3>Video Chat</h2>
      </div>
    </div>  
      <div class="main">  
    <div class="main_left">
      <div class="videos_group">
        <div id="video-grid">

        </div>
      </div>
</body>
</html>