<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>videochat app</title>
        <link rel="stylesheet" href="style.css" />
            <script src="/socket.io/socket.io.js"></script>
            <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>

    
</head>
<body>
     <div class="header">
      <div class="logo">
        <div class="header_back">
          <i class="fas fa-angle-left"></i>
        </div>
        <h3>Video Chat</h2>
      </div>
    </div>  
      <div class="main">  
    <div class="main_left">
      <div class="videos_group">
        <div id="video-grid">
          
        </div>
      </div>
      <div class="options">
      <div class="option_left">
          <div id="stopVideo" class="options_button">
            <i class="fa fa-video-camera"></i>
<!-- for using camera use this --> 
          </div>
          <div id="muteButton" class="options_button">
            <i class="fa fa-microphone"></i>
          </div>
          <div id="disconnect" class="options_button background_red">
            <i class="fa fa-phone"></i>
          </div>
        <div class="options_right">
          <div id="inviteButton" class="options_button">
            <i class="fas fa-user-plus"></i>
          </div> 
      </div>
      </div>


  <div class="main_right">
    <div class="main_chat_window">
      <div class="messages">

      </div>
    </div>
    <div class="main_message_container">
      <input type="text" autocomplete="off" id="chat_message" placeholder="type message here...">
      <div id="send" class="option_button"> 
        <i class="fa fa-plus" aria-hidden="true"></i> 
      </div>
    </div>
  </div>
</body>
<script src="script.js"></script>
</html>